@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --card: var(--background);
  --card-foreground: var(--foreground);
  --muted-foreground: #6b7280;
  --ring: #2563eb;
  --ring-offset: var(--background);
  --shadow: rgba(0,0,0,.35);
  --skeleton: #e5e7eb;

  --font-sans: var(--font-poppins), ui-sans-serif, system-ui;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}